# Configurations
environment.sh
env.sh
credentials.yml
state.yml

tmp/
tmp/*

# Terraform files
*.tfstate
*.tfstate.backup
.terraform*
*.tfvars
.terraform.lock.hcl
*.tfplan
terraform-plan-output.txt
terraform.json

# Eclipse IDE files
.project

*-state.json
