vpc_cidr = "10.0.0.0/16"
public_cidr_1 = "10.0.1.0/24"
public_cidr_2 = "10.0.2.0/24"
private_cidr_1 = "10.0.3.0/24"
private_cidr_2 = "10.0.4.0/24"
rds_private_cidr_1 = "10.0.5.0/24"
rds_private_cidr_2 = "10.0.6.0/24"
rds_password = "CHANGEME"
concourse_prod_rds_password = "CHANGEME"
concourse_prod_cidr = "10.0.7.0/16"
concourse_staging_rds_password = "CHANGEME"
concourse_staging_cidr = "10.0.8.0/24"
restricted_ingress_web_cidrs = "127.0.0.1/32"
