attrs==26.1.0
certifi==2026.4.22
charset-normalizer==3.4.7
idna==3.13
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
py==1.11.0
pyparsing==3.3.2
pytest==9.0.3
requests==2.33.1
tomli==2.4.1
urllib3==2.6.3
