aws_access_key_id: ACCESS_KEY_ID
aws_secret_access_key: SECRET_ACCESS_KEY
aws_account_id: XXXXXXXXXXXX
aws_default_region: us-east-1
aws_s3_tfstate_bucket: MY_TERRAFORM_BUCKET
aws_az1: us-east-1b
aws_az2: us-east-1d
tooling_vpc_cidr: 10.0.0.0/16
tooling_public_cidr_1: 10.0.3.0/24
tooling_public_cidr_2: 10.0.4.0/24
tooling_private_cidr_1: 10.0.1.0/24
tooling_private_cidr_2: 10.0.2.0/24
tooling_rds_private_cidr_1: 10.0.5.0/24
tooling_rds_private_cidr_2: 10.0.6.0/24
tooling_rds_password: CHANGEME
concourse_prod_rds_password: CHANGEME
concourse_prod_cidr: 10.0.7.0/24
concourse_staging_rds_password: CHANGEME
concourse_staging_cidr: 10.0.8.0/24
staging_vpc_cidr: 10.2.0.0/16
staging_public_cidr_1: 10.2.3.0/24
staging_public_cidr_2: 10.2.4.0/24
staging_private_cidr_1: 10.2.1.0/24
staging_private_cidr_2: 10.2.2.0/24
staging_rds_private_cidr_1: 10.2.5.0/24
staging_rds_private_cidr_2: 10.2.6.0/24
staging_services_cidr_1: 10.2.30.0/24
staging_services_cidr_2: 10.2.31.0/24
staging_rds_password: CHANGEME
staging_cf_rds_password: CHANGEME
production_vpc_cidr: 10.1.0.0/16
production_public_cidr_1: 10.1.3.0/24
production_public_cidr_2: 10.1.4.0/24
production_private_cidr_1: 10.1.1.0/24
production_private_cidr_2: 10.1.2.0/24
production_services_cidr_1: 10.1.30.0/24
production_services_cidr_2: 10.1.31.0/24
production_rds_private_cidr_1: 10.1.5.0/24
production_rds_private_cidr_2: 10.1.6.0/24
production_rds_password: CHANGEME
production_cf_rds_password: CHANGEME
