pipeline_tasks_git_url: https://github.com/18F/cg-pipeline-tasks.git
pipeline_tasks_git_branch: master
cg_provision_git_url: https://github.com/18F/cg-provision.git
cg_provision_git_repo: 18F/cg-provision
cg_provision_git_branch: master
status_access_token: CHANGEME

aws_access_key_id: ACCESS_KEY_ID
aws_secret_access_key: SECRET_ACCESS_KEY
aws_account_id: XXXXXXXXXXXX
aws_partition: aws
aws_default_region: us-east-1
aws_s3_tfstate_bucket: MY_TERRAFORM_BUCKET
aws_az1: us-east-1b
aws_az2: us-east-1d

tooling_vpc_cidr: 10.0.0.0/16
tooling_public_cidr_1: 10.0.3.0/24
tooling_public_cidr_2: 10.0.4.0/24
tooling_private_cidr_1: 10.0.1.0/24
tooling_private_cidr_2: 10.0.2.0/24
tooling_rds_private_cidr_1: 10.0.5.0/24
tooling_rds_private_cidr_2: 10.0.6.0/24
tooling_rds_password: CHANGEME
tooling_restricted_ingress_web_cidrs: "127.0.0.1/32,192.168.0.1/24"

concourse_prod_rds_password: CHANGEME
concourse_prod_cidr: 10.0.7.0/24
concourse_staging_rds_password: CHANGEME
concourse_staging_cidr: 10.0.8.0/24
monitoring_production_cidr: CHANGEME
monitoring_staging_cidr: CHANGEME

development_vpc_cidr: 10.3.0.0/16
development_public_cidr_1: 10.3.3.0/24
development_public_cidr_2: 10.3.4.0/24
development_private_cidr_1: 10.3.1.0/24
development_private_cidr_2: 10.3.2.0/24
development_rds_private_cidr_1: 10.3.5.0/24
development_rds_private_cidr_2: 10.3.6.0/24
development_services_cidr_1: 10.3.30.0/24
development_services_cidr_2: 10.3.31.0/24
development_kubernetes_cluster_id: kubernetes-staging
development_rds_password: CHANGEME
development_cf_rds_password: CHANGEME
development_restricted_ingress_web_cidrs: "127.0.0.1/32,192.168.0.1/24"
development_diego_cidr_1: 10.3.5.0/24
development_diego_cidr_2: 10.3.6.0/24
development_vpc_concourse_rds_password: CHANGEME
development_vpc_concourse_cidr: 10.3.32.0/24

staging_vpc_cidr: 10.2.0.0/16
staging_public_cidr_1: 10.2.3.0/24
staging_public_cidr_2: 10.2.4.0/24
staging_private_cidr_1: 10.2.1.0/24
staging_private_cidr_2: 10.2.2.0/24
staging_rds_private_cidr_1: 10.2.5.0/24
staging_rds_private_cidr_2: 10.2.6.0/24
staging_services_cidr_1: 10.2.30.0/24
staging_services_cidr_2: 10.2.31.0/24
staging_kubernetes_cluster_id: kubernetes-staging
staging_rds_password: CHANGEME
staging_cf_rds_password: CHANGEME
staging_restricted_ingress_web_cidrs: "127.0.0.1/32,192.168.0.1/24"
staging_diego_cidr_1: 10.2.5.0/24
staging_diego_cidr_2: 10.2.6.0/24
staging_vpc_concourse_rds_password: CHANGEME
staging_vpc_concourse_cidr: 10.2.32.0/24

production_vpc_cidr: 10.1.0.0/16
production_public_cidr_1: 10.1.3.0/24
production_public_cidr_2: 10.1.4.0/24
production_private_cidr_1: 10.1.1.0/24
production_private_cidr_2: 10.1.2.0/24
production_services_cidr_1: 10.1.30.0/24
production_services_cidr_2: 10.1.31.0/24
production_kubernetes_cluster_id: kubernetes-production
production_rds_private_cidr_1: 10.1.5.0/24
production_rds_private_cidr_2: 10.1.6.0/24
production_rds_password: CHANGEME
production_cf_rds_password: CHANGEME
production_restricted_ingress_web_cidrs: "127.0.0.1/32,192.168.0.1/24"
production_diego_cidr_1: 10.1.5.0/24
production_diego_cidr_2: 10.1.6.0/24
production_vpc_concourse_rds_password: CHANGEME
production_vpc_concourse_cidr: 10.1.32.0/24

aws_external_access_key_id: ACCESS_KEY_ID
aws_external_secret_access_key: SECRET_ACCESS_KEY
aws_external_account_id: XXXXXXXXXXXX
aws_external_partition: aws
aws_external_region: us-east-1
aws_external_s3_tfstate_bucket: EXTERNAL_TERRAFORM_BUCKET

cdn_broker_username_staging: cdn-broker-staging
cdn_broker_bucket_staging: cdn-broker-le-verify-staging
cdn_broker_cloudfront_prefix_staging: cg-staging/*
cdn_broker_hosted_zone_staging: ZZZZZZZZZZZZZZ
cdn_broker_iam_path_staging: /cf-staging/cloudfront/

cdn_broker_username_production: cdn-broker-production
cdn_broker_bucket_production: cdn-broker-le-verify-production
cdn_broker_cloudfront_prefix_production: cg-production/*
cdn_broker_hosted_zone_production: ZZZZZZZZZZZZZZ
cdn_broker_iam_path_production: /cf-production/cloudfront/

tf_state_file_external_staging: external-staging/state.yml
tf_state_file_external_production: external-production/state.yml
tf_state_file_tooling: tooling/state.yml
tf_state_file_development: development/state.yml
tf_state_file_staging: staging/state.yml
tf_state_file_production: production/state.yml
